@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.ttf");
}

@layer components {
  .text-input-focus {
    @apply focus:outline-none focus:ring-1 focus:ring-inset focus:ring-primary focus:bg-gray-10;
  }
  .text-input-error {
    @apply outline-none ring-1 ring-inset ring-error;
  }
  .text-input-disabled {
    @apply outline-none ring-1 ring-inset ring-gray-10 disabled:hover:bg-white disabled:bg-white disabled:placeholder:text-text-placeholder;
  }
}

:root {
  --grid-col-width: 48px;
  --grid-row-height: 42px;
  --unit: 3px;
  --gap: calc(var(--unit) * 6);
  --primary: #209400;
  --error: #A62F1F;
  --warning: #EFAE41;
}

.form-container {
  display: grid;
  grid-template-columns: calc(var(--grid-col-width) * 5 + var(--unit) * 4) auto;
  grid-template-rows: auto;
  grid-auto-rows: minmax(var(--grid-row-height) auto);
  gap: var(--gap);
  --inner-gap: calc(var(--unit) * 2);
}

.form-question {
  grid-column: 1;
  align-self: start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--unit);
  height: var(--grid-row-height);
}

.form-fields {
  grid-column: 2;
  display: flex;
  gap: var(--inner-gap);
}

::placeholder {
  color: #191e26;
  opacity: 50%;
  font-weight: 300;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}